<!doctype html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
    {% if page.avatar %}{% include header.html avatar="true" %} {% else %} {% include header.html %} {% endif %}
    <div class="page-content {% if page.layout == 'default-author' %}default{%endif%}">
      <div class="wrapper">
        {{ content | replace: '<img', '<amp-img layout="responsive"' }}
      </div>
    </div>
    {% include footer.html %}
    
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
      </body>
</html>
